.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  position: relative;
  /* height: 500px; */
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide .slide_desc {
  position: absolute;
  top: 0;
  left: 0;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .swiper-slide {
    width: 300px;
  }
}

